body{
    background: rgb(79,85,188);
    background: 
        linear-gradient(90deg, 
            rgba(79,85,188,1) 0%, 
            rgba(103,79,188,1) 20%, 
            rgba(111,81,188,1) 40%, 
            rgba(121,79,188,1) 60%, 
            rgba(171,82,169,1) 80%, 
            rgba(155,79,143,1) 100%);
            font-family: 'Zilla Slab', serif;
}
header{
    background: rgb(8,6,41);
    background:
        linear-gradient(58deg, 
            rgba(8,6,41,1) 0%, 
            rgba(41,0,104,1) 31%, 
            rgba(88,0,185,1) 64%, 
            rgba(61,12,116,1) 100%);
    border-radius: 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}
nav{
    justify-content: flex-end;
    flex-wrap: nowrap;
}
ul{
    display: flex;
    background:rgba(128, 128, 128, 0.013) ;
    border-radius: 5px;
    margin: 0.3em 1em;
    padding: 1em 1em;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    
}
li{
    display: flex;
    align-self: flex-end;
    width: 5em;
    margin: 3%;
    padding: 3%;
}
.navlist a{
    color: black;
}
.navlist a:hover{
    color: rgb(79,85,188)
}
.logo{
   width: 12%;
   height: 12%;
   /* margin: 1%;
   padding: 1%; */
}

.empresa {
    background-color: lightseagreen;
    border-radius: 2em;
}
.cara {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.company{
    font-size: 1.5em;
}
.your {
    width: 19%;
    height: 15%;
    border-radius: 2em;
}
.resumen {
    display: flex;
    font-size: 1.7em;
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 2em;

}
.boton{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
button {
    font-size: 1em;
    border-radius: 2em;
    border: rgba(211, 211, 211, 0.644) dotted 0.5px;
}

.learn {
    background-color: magenta;
}
.call {
    background-color: darkgray;
}
.learn:hover{
    background-color: darkslategray;
}
.call:hover{
    background-color: darkblue;
}

.elegime, .metodo {
    background-color: lightgray;
    text-align: center;
    margin: 1%;
    padding: 1%;
   
}

.beneficios{
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 1%;
    

}
.beneficio{
    background-color: lightsalmon;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 33%;
    height: 10em;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.144) dotted 0.5px;
    box-shadow: rgba(0, 0, 0, 0.678) 10px 10px;
}


.pasos{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.paso{
    background-color: slateblue;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 25%;
    height: 16em;
    border-radius: 5%;
    border: rgba(0, 0, 0, 0.144) dotted 0.5px;
    box-shadow: rgba(0, 0, 0, 0.774) 10px 10px;
}

.icon i{
    font-size: 2em;
}
p {
    text-align: center;
}


footer{
    background: black;
    text-align: center;
    color: white;
    height: 5em;
    line-height: 5em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    display:block;
    align-items: center;
  
}
footer, a:hover{
    color: whitesmoke;
}